.site-list {
	width: auto;
}

.site-list__item {
	margin-right: 60px;
}

@media (max-width: 940px) {
	.site-list__item {
		margin-right: 0px;
	}
}

.clearfix:before,
.clearfix:after {
	display: table;
	content: " ";
}
.clearfix:after {
	clear: both;
}

.features__btn {
	line-height: 30px;
	margin-bottom: 72px;
}