.promo {
  margin-top: auto;
  position: relative;
  z-index: 2;
}

.promo__container {
  margin: 0 20px;
  margin-bottom: calc(100% - 60%);
  padding: 0 25px;
  width: 87%;
  box-sizing: border-box;
}

.promo__wrapper {
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
  display: inline;
  box-decoration-break: clone;
  box-shadow: 25px 0 0 rgba(#186aa9, 0.6), -25px 0 0 rgba(#186aa9, 0.6);
}

.promo__text {
  display: inline;
  background-color: rgba(#186aa9, 0.6);
}

@media (min-width: $tablet-width) {
  .promo__container {
    margin: 0;
    margin-bottom: calc(100% - 79.5%);
  }

  .promo__wrapper {
    font-size: 26px;
    line-height: 46px;
  }
}

@media (min-width: $desktop-width) {
  .promo__container {
    @include desktop-width;
    margin-bottom: 230px;
    padding: 0 180px 0 25px;
  }
}
