.site-list {
  @include list-reset;
  position: relative;
  z-index: 2;
}

.site-list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 7px;
  border-bottom: 1px solid rgba(245, 245, 245, 0.2);
}

.site-list__link {
  font-size: 14px;
  line-height: 35px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    opacity: 0.5;
  }
}

@media (max-width: $until-tablet-width) {
  .no-js .site-list__item-list {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    order: 2;
    margin: 0;
    background-color: transparent;
    width: 100%;
    justify-content: flex-start;
    padding-top: 10px;
  }

  .site-list__item {
    margin-right: 2.6%;
    border-bottom: none;

    &:first-child {
      margin-right: 2.1%;
    }
  }

  .site-list__link {
    line-height: 18px;
  }
}
